<html>
  <head>
    <script src="assets/bundle.js" async></script>
    <title>Buy my knives please</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        background: #444;
      }

      body * {
        visibility: hidden;
      }
    </style>
  </head>
  <body class="preload">
    {{ content }}
  </body>
</html>